
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');


@media print{
    body{
        height: 90%;
    }
  
    @page {
        size: a5 landscape;
    }
    .barcode_image {
    position: relative;
    /* top: -45px; */
    /* top: -1px; */
    /* right: 60px; */
    left: 692px;

    // bottom: 450px;
    bottom: 600px !important;
}

}

.heading_barcode{
    font-size: 40px;
    position: relative;
    // left: 80px;


}


.main{

    h1, h2, h3, h4, h5, h6,p {
        margin: 0; /* Resets all headings */
    }
    // border: solid 1px black;
    width: 800px;

    height: 570px;

   
    margin-top: 10px;
    // padding: 15px;
    page-break-inside: avoid; /* Prevents splitting inside a single barcode */
    page-break-after: always; /* Forces each barcode to print on a new page */

}

    .barcodeText {
        margin-top: 28px;
        margin-left: 90px;
        font-family: Arial, sans-serif;
    
   

}


.barcode_image {
    bottom: 373px;
    position: relative;
    left: 54px;
}

.barcode-list {
    color: #111;
    direction: rtl;
    font-family: Nunito, sans-serif;
    position: relative;
    right: 80px;
}

// .qr-logo {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 30px;
//   background: white;
//   padding: 2px;
//   border-radius: 4px;
// }

genetic-barcode-qr{
    position: relative;
    height: 120px;
    width: 10px;
    left: 165px;
    bottom: 133px;
}
.genetic-barcode-card {
  display: flex;              
  align-items: center;        
  gap: 12px;                 
  border: 2px solid #000;
  padding: 8px;
  width: fit-content;
}

// .genetic-barcode-text {
//   font-size: 11px;
//   line-height: 1.3;
// }

.genetic-barcode-row {
  display: flex;
  gap: 4px;
}

.genetic-barcode-row .label {
  font-weight: 600;
     min-width: 100px;
}
.genetic-barcode-row .value {
  font-weight: 600;
//   min-width: 60px;
}

.genetic-barcode-qr {
  flex-shrink: 0;             /* QR kabhi shrink nahi hoga */
}
