@media print{
  @page {
      size: a5 landscape;

  }

  .center-print {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 80px;

  }

  .sign{
    position: relative;
    left: 180px;
  }
}
.sign{
  position: relative;
  left: 180px;
}
.mylogo{
  height: 136px;
  position: relative;
  left: 100px;
  top: 25px;
}
.title{
display: block;
margin-top: 40px;
}
.title1{
margin-bottom: -13px;

}
.title2{
margin-bottom: -14px;

}


.dark-border{
  border: 1px solid black ;

}
.value{
  font-weight: 100;
  font-size: large;
}

.name{
font-size: 20px;
}
.being{
font-size: 26px;
}
.receiver{
  position: relative;
    bottom: 24px;

}
.printDate{
  position: relative;
    // top: 26px;
    left: 41px;
}
.headerLeft{
      margin-left: 95px;
}