// /* login-form.css */

// .form-container {
//     margin-top: 20px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding: 20px;
//   }
  
//   .submit-button {
//     margin-top: 20px;
//     background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
//     color: white;
//     box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
//   }
  
//   /* Add more custom styles as needed */
.attractive-header {
    font-size: 36px;
    font-weight: bold;
    color: #3498db; /* Change the text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
    background-color: #f8f9fa; /* Background color */
    padding: 20px; /* Add some padding */
    border-radius: 10px; /* Rounded corners */
}

